<h1>Editar Equipo</h1>

<%= render 'form' %>



<% if !params[:activity_id]; %> 
  <%= link_to 'Show', @team %> |
  <%= link_to 'Back', project_teams_path(@team) %> 
<%else%>
  <%= link_to 'Show', @team %> |
  <%= link_to 'Back', project_activity_teams_path(@team) %>
<% end %>
