<%= form_for(@project) do |f| %>
 <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>Se encontraron <%= pluralize(@project.errors.count, "error", "errores") %> en la forma:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table width=100%>
<tr>
  <td>
    * Nombre:<br />
    <%= f.text_field :nombre %>
  </td>
  <td>
    * Fecha de Inicio:<br />
    <%= f.date_select :fecha %>
  </td>
</tr>
<tr>
  <td colspan=2>
    <table width=100% cellspacing=0 cellpadding=0>
    <tr>
      <td>* Minimo de Actividades: <%= f.text_field :min_de_actv, :size => 2, :max_length => 2 %></td>
      <td>* Horas SSC para Tec: <%= f.text_field :horas_tec, :size => 3, :max_length => 3 %></td>
      <td>* Horas SSC para UDEM: <%= f.text_field :horas_udem, :size => 3, :max_length => 3 %></td>
    </tr>
    </table>
  </td>
</tr>
<tr>
  <td colspan=2>
    Coordinador: <%= collection_select :project, :coordinator_id, User.find_all_by_coordinator("t"), :id, :username, :include_blank => true, :selected => @project.coordinator %>
  </td>
</tr>
<tr>
  <td colspan=2>
    <br/>
    <%= f.label :descripcion %><br/>
    <%= f.text_area :descripcion, :rows => 7, :cols => 95 %>
  </td>
<tr>
<tr>
  <td colspan=2 align=center>
    <%= f.submit @btn %>
  </td>
</tr>
</table>
<% end %>
