<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table width=100%>
<tr>
  <td>
    * Nombre:<br />
    <%= f.text_field :nombre %>
  </td>
  <td>
    * Fecha de Inicio:<br />
    <%= f.date_select :fecha %>
  </td>
</tr>
<tr>
  <td colspan=2>
    <table width=100% cellspacing=0 cellpadding=0>
    <tr>
      <td>* Minimo de Actividades: <%= f.text_field :min_de_actv, :size => 2, :max_length => 2 %></td>
      <td>* Horas SSC para Tec: <%= f.text_field :horas_tec, :size => 3, :max_length => 3 %></td>
      <td>* Horas SSC para UDEM: <%= f.text_field :horas_udem, :size => 3, :max_length => 3 %></td>
    </tr>
    </table>
  </td>
</tr>
<tr>
  <td colspan=2>
    <br/>
    <%= f.label :descripcion %><br/>
    <%= f.text_area :descripcion, :rows => 7, :cols => 95 %>
  </td>
<tr>
<tr>
  <td colspan=2 align=center>
    <%= f.submit @btn %>
  </td>
</tr>
</table>
<% end %>
