<p id="notice"><%= notice %></p>
<%= link_to "<< VOLVER AL LISTADO DE PROYECTOS", projects_path %>
<br/>

<table width=85% align=center>
<tr>
  <td>
  <h2>Proyecto: <%= @project.nombre %></h2>
  </td>
</tr>
<% if can? :new, Project %>
  <% if @project.fin? %>
    <tr><td><h3 align="center"><i>Finalizado</i></h3></td></tr>
  <% end %>
<% end %>
<tr>
  <td>
  <b>Fecha de Inicio:</b>
  <%= @project.fecha.strftime("%d/%m/%Y") %>
  <% if (user_signed_in? && (current_user.coordinator? || current_user.admin?)) %>
    <br/>
    <b>Horas SSC Tec:</b>
    <%= @project.horas_tec %><br/>
    <b>Horas SSC UDEM:</b>
    <%= @project.horas_udem %>
  <% elsif user_signed_in? %>
    <br/>
    <% if (@project.horas_tec != 0 && current_user.tec?) %>
      <b>Horas de SSC:</b>
      <%= @project.horas_tec %>
    <% elsif (@project.horas_udem != 0 && !current_user.tec?) %>
      <b>Horas de SSC:</b>
      <%= @project.horas_udem %>
    <% else %>
      <b>Horas de SSC:</b>
      <i>Este proyecto no esta aprovado para tu universidad</i>
    <% end %>
  <% end %>
  </td>
</tr>
<tr>
  <td class=justify>
  <br/>
  <%= @project.descripcion %>
  </td>
</tr>
</table>
