<p id="notice"><%= notice %></p>
<%= link_to "<< Volver a listado de Proyectos", projects_path %>
<br/>

<h1>Ver Proyecto</h1>
<br/>

<b>Nombre:</b>
<%= @project.nombre %>
<br/>
<b>Fecha:</b>
<%= @project.fecha.strftime("%d/%m/%Y") %>
<br/>
<b>Minimo de actividades:</b>
<%= @project.min_de_actv %>
<br/><br/>

<% if (!@project.fin? && (can? :update, @project)) %>
  <%= link_to 'Editar', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Atras', projects_path %>
