<%= link_to "<< Volver a listado de Proyectos", projects_path %>
<br/>
<h1>Actividades del Proyecto</h1>
<br/>
<b>Proyecto:</b> <%= @project.nombre %><br/>
<b>Fecha de Inicio:</b> <%= @project.fecha.strftime("%d/%m/%Y") %><br/><br/>
<% if can? :create, @project => Activity %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to image_tag("new.png", :border => 0), new_project_activity_path(@project) %>
  <%= link_to 'Nueva Actividad', new_project_activity_path(@project) %>
<% end %>
<table>
<% if !@activities.empty? %> 
  <tr class="keys">
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Duracion</th>
    <th>Valor</th>
    <th>Tipo</th>
    <th></th>
    <% if !@project.fin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

  <% odd = false %>
  <% @activities.each do |activity| %>
  <% 
     case activity.actividad
       when 1
         act = "Actividad"
       when 2
         act = "Junta"
       when 3
         act = "Taller"
       else
         act = "Asueto"
     end 
  %>
  <% if odd == true %>
  <tr class="odd">
  <% else %>
  <tr?
  <% end %>
  <% odd = !odd %>
    <td class="column1"><%= activity.nombre %></td>
    <td><%= activity.fecha.strftime("%d/%m/%Y") %></td>
    <td><%= activity.hora.strftime("%I:%M %p") %></td>
    <td><%= activity.duracion.strftime("%I:%M") %></td>
    <td><%= activity.valor %></td>
    <td><%= act %></td>
    <td><% if can? :show, @project => activity %><%= link_to image_tag("show.png", :border => 0), project_activity_path(@project,activity) %><% end %></td>
    <% if !@project.fin? %> 
      <td><% if can? :update, @project => activity %><%= link_to image_tag("edit.png", :border => 0), edit_project_activity_path(@project,activity) %><% end %></td>
      <td><% if can? :destroy, @project => activity %><%= link_to image_tag("delete.png", :border => 0), project_activity_path(@project,activity), :confirm => 'Are you sure?', :method => :delete %><% end %></td>
    <% end %>
  </tr>
  <% end %>
<% else %>
  <td align=center><i>Aun no hay actividades para este proyecto</i></td>
<% end %>
</table>
<br />

