<%= link_to "<< VOLVER AL LISTADO DE PROYECTOS", projects_path %>
<br/>
<table cellspacing=0 cellpadding=0 width=90% align=center>
<tr>
  <td><h1>Actividades del Proyecto</h1></td>
</tr>
<tr>
  <td>
  <b>Proyecto:</b> <%= @project.nombre %><br/>
  <b>Fecha de Inicio:</b> <%= @project.fecha.strftime("%d/%m/%Y") %><br/><br/>
  <% if can? :new, @project => Activity %>
    <%= link_to image_tag("new.png", :border => 0), new_project_activity_path(@project) %>
    <%= link_to 'NUEVA ACTIVIDAD', new_project_activity_path(@project) %>
  <% end %>
  </td>
</tr>
</table>

<div class="lists">
  <table>
    <thead>
      <tr class=odd>
        <th colspan=9>Listado de Actividades</th>
      </tr>
    </thead>
    <% if !@activities.empty? %> 
    <tr class="keys">
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Duracion</th>
      <th>Valor</th>
      <th>Tipo</th>
      <th></th>
      <% if !@project.fin? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>

    <% @odd = false %>
    <%= render(@activities) %>
  <% else %>
    <td align=center><i>Aun no hay actividades para este proyecto</i></td>
  <% end %>
  </table>
</div>



