<p id="notice"><%= notice %></p>

<%= link_to "<< VOLVER AL LISTADO DE ACTIVIDADES", project_activities_path %>
<br/>

<table width=85% align=center>
<tr>
  <td colspan=2><h2>Ver Actividad</h2></td>
</tr>
<tr>
  <td>
    <b>Proyecto:</b>
    <%= @activity.project.nombre %><br/>
    <b>Nombre:</b>
    <%= @activity.nombre %><br/>
    <b>Actividad:</b>
    <%= @act %>
  </td>
  <td>
    <b>Fecha:</b>
    <%= @activity.fecha.strftime("%d/%m/%Y") %><br/>
    <b>Hora:</b>
    <%= @activity.hora.strftime("%I:%M %p") %><br/>
    <b>Duracion:</b>
    <%= @activity.duracion.strftime("%I:%M horas") %>
  </td>
</tr>
<tr>
  <td colspan=2>
    <br/>
    <b>Descripcion:</b><br/>
    <%= @activity.comment %>
  </td>
</tr>
</table>
