<% if account.tec?
     universidad = "ITESM"
   else
     universidad = "UDEM"
   end
%>
<% if odd %>
  <tr class="odd">
<% else %>
  <tr>
<% end %>
  <td class="column1"><%= account.username %></td>
  <td style="text-align:left;"><%= account.nombre %> <%= account.apellido_paterno %> <%= account.apellido_materno %></td>
  <td><%= universidad %></td>
  <td><%= account.telefono %></td>
  <td>
    <% if !account.celular.blank? %>
      <%= account.celular %>
    <% else %>
      <i>No Tiene</i>
    <% end %>
  </td>
  <td>
    <% if can? :show, account %><%= link_to image_tag("show.png", :border => 0), account_path(:user_id => account.id) %><% end %>
    <% if can? :edit, account %><%= link_to image_tag("edit.png", :border => 0), edit_account_path(:user_id => account.id) %><% end %>
    <% if can? :destroy, account %><%= link_to image_tag("delete.png", :border => 0), destroy_account_path(:user_id => account.id), :confirm => 'Estas seguro?', :method => :delete %><% end %>
  </td> 
</tr>
